@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
}

h3 {
  margin: 0;
  font-family: Lobster, "sans-serif";
}

/* ----------------------------------------------------Navbar/Header */

.bg-light {
  background-color: #ffffff!important;
}

.navbar-brand {
  font-family: Lobster, "sans-serif";
  font-size: 1.75rem;
  color: #04188a!important;
  padding-left: 20px;
}

.navbar-collapse {
  font-family: Raleway, "sans-serif";
  justify-content: flex-end;
  padding-right: 20px;
}

/* ----------------------------------------------------Hero Image */

.hero-image {
  width: auto;
}

/* ----------------------------------------------------Welcome Section */

.welcome-blurb {
  font-family: Raleway, "sans-serif";
  padding-top: 30px;
}

/* ----------------------------------------------------Footer */

.footer-socials {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.social-links {
  color: black;
  padding: 10px;
}

.social-links a i {
  color: #000e5f;
}